<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="roadiary.behavior.category.mapper.CategoryMapper">

    <select id="selectCategoryList" resultType="roadiary.behavior.category.entity.CategoryEntity">
        SELECT CATE.behavior_category_id, CATE.content 
        FROM (SELECT * FROM behavior_priorityofcategory
            WHERE user_id = #{userId})  PRIOR
        LEFT JOIN behavior_category CATE
            ON CATE.behavior_category_id = PRIOR.n1
                OR CATE.behavior_category_id = PRIOR.n2
                OR CATE.behavior_category_id = PRIOR.n3
                OR CATE.behavior_category_id = PRIOR.n4
                OR CATE.behavior_category_id = PRIOR.n5
                OR CATE.behavior_category_id = PRIOR.n6
                OR CATE.behavior_category_id = PRIOR.n7
                OR CATE.behavior_category_id = PRIOR.n8
                OR CATE.behavior_category_id = PRIOR.n9
                OR CATE.behavior_category_id = PRIOR.n10
                OR CATE.behavior_category_id = PRIOR.n11
                OR CATE.behavior_category_id = PRIOR.n12
    </select>

    <select id="selectPriorityOfCategoryEntity" resultType="roadiary.behavior.category.entity.PriorityOfCategoryEntity">
        SELECT * FROM behavior_priorityofcategory where user_id = #{userId}
    </select>

    <!-- 이후 수정 -->
    <select id="countSavedCategoryNum" resultType="_int">
        SELECT
            SUM(num1) +  SUM(num2) + SUM(num3) + SUM(num4) +
            SUM(num5) +  SUM(num6) + SUM(num7) + SUM(num8) +
            SUM(num9) +  SUM(num10) + SUM(num11) + SUM(num12) 
            as sum
        FROM ( 
            SELECT 
                COUNT(n1) as num1, COUNT(n2) as num2, COUNT(n3) as num3, COUNT(n4) as num4, 
                COUNT(n5) as num5, COUNT(n6) as num6, COUNT(n7) as num7, COUNT(n8) as num8, 
                COUNT(n9) as num9, COUNT(n10) as num10, COUNT(n11) as num11, COUNT(n12) as num12
                FROM behavior_priorityofcategory
                WHERE user_id = #{userId}
        ) as newtable;
    </select>

    <insert id="insertCategory" parameterType="roadiary.behavior.category.entity.CategoryEntity" useGeneratedKeys="true" keyProperty="behavior_category_id"> 
        INSERT INTO behavior_category 
            (content) 
            VALUES 
            (#{content}) 
    </insert>

</mapper>
