<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="roadiary.behavior.category.mapper.CategoryMapper">

    <select id="selectCategoryList" resultType="roadiary.behavior.category.dto.CategoryDTO">
        SELECT * FROM behavior_category
            LIMIT 8;
    </select>

    <insert id="insertCategory" parameterType="roadiary.behavior.category.dto.CategoryVO"> 
        INSERT INTO behavior_category 
            (user_id, content) 
            VALUES 
            (#{userId}, #{categoryContent}) 
    </insert>
    

</mapper>
