<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="roadiary.behavior.member.mapper.MemberMapper">

    <select id="selectUserByUsingKakaoId" resultType="roadiary.behavior.member.entity.UserEntity">
        SELECT * FROM user
            WHERE kakao_id = #{kakaoId}
    </select>

    <select id="countKakaoIdUser" resultType="_int">
        SELECT COUNT(*) FROM user
            WHERE kakao_id = #{kakaoId}
    </select>

    <insert id="insertKakaoUser" parameterType="roadiary.behavior.member.entity.UserEntity">
        INSERT INTO user
            (kakao_id, kakao_connected_at, email, nickname, recently_visited, register_status)
            VALUES
            (#{kakaoId}, #{kakaoConnectedAt}, #{email}, #{nickname}, now(), "normal")
    </insert>

</mapper>
