<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="roadiary.behavior.record.repository.RecordsMapper">

    <insert id="insertRecord" parameterType="roadiary.behavior.record.entity.RecordEntity"> 
        INSERT INTO behavior_records 
            (behavior_category_id, user_id, start_time, end_time, detail) 
            VALUES 
            (#{behaviorCategoryId}, #{userId}, #{startTime}, #{endTime}, #{detail}) 
    </insert>
    
    <select id="selectRecords" resultType="roadiary.behavior.record.dto.RecordResDto">
        SELECT r.behavior_records_id, r.behavior_category_id, r.start_time, r.end_time, r.detail, c.content
        FROM behavior_records as r
            LEFT JOIN behavior_category as c
            ON r.behavior_category_id = c.behavior_category_id
            WHERE r.user_id = #{userId} AND DATE(r.start_time) = #{reqDate};
    </select>

    <update id="updateRecord" parameterType="roadiary.behavior.record.entity.RecordEntity">
        UPDATE behavior_records
            SET 
                behavior_category_id = #{behaviorCategoryId},
                start_time = #{startTime},
                end_time = #{endTime},
                detail = #{detail}
            WHERE user_id = #{userId} AND behavior_records_id = #{behaviorRecordsId}
    </update>

    <delete id="deleteRecord">
        DELETE FROM behavior_records 
            WHERE user_id = #{userId} AND behavior_records_id = #{behaviorRecordsId}
    </delete>

</mapper>
