<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>기록 페이지</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/behavior-quick.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/facility-common.css}" rel="stylesheet">
</head>

<body>
<div class="container">

    <div class="row">
        <div class="col mt-4 mb-4">
            <h1 class="display-4 text-center" onclick="reload();">
                기록 입력
            </h1>
        </div>
    </div>

    <div class="row justify-content-md-center mb-4">
        <div class="col-lg">
            <span class="input-group-text">🗂카테고리</span>
            <div class="input-group input-group-lg">
                <select id="categoryId" class="form-select" aria-label=".form-select-lg example"></select>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mb-4">
        <div class="col-lg">
            <div class="input-group input-group-lg mb-1">
                <span class="input-group-text">⏲시작</span>
                <input type="date" id="startCalendar" class="form-control" value="" />
            </div>
            <div class="input-group input-group-lg">
                <select id="startHour" class="form-select" aria-label=".form-select-lg example">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                </select>
                <label class="input-group-text" for="">시</label>
                <select id="startMin" class="form-select" aria-label=".form-select-lg example">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
                <label class="input-group-text" for="">분</label>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mb-4">
        <div class="col-lg">
            <div class="input-group input-group-lg mb-1">
                <span class="input-group-text">⏲끝</span>
                <input type="date" id="endCalendar" class="form-control" value="" />
            </div>
            <div class="input-group input-group-lg">
                <select id="endHour" class="form-select" aria-label=".form-select-lg example">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                </select>
                <label class="input-group-text" for="">시</label>
                <select id="endMin" class="form-select" aria-label=".form-select-lg example">
                    <option>00</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
                <label class="input-group-text" for="">분</label>
            </div>
        </div>
    </div>

    <div class="row g-0 mb-4">
        <div class="col-2 d-grid">
            <button type="button" onclick="resetDate();" class="btn btn-outline-light">리셋</button>
        </div>
        <div class="col-10 d-grid">
            <div class="row g-0">
                <div class="col-4 d-grid">
                    <button type="button" onclick="calculateDate(10);" class="btn btn-outline-light">+10분</button>
                </div>
                <div class="col-4 d-grid">
                    <button type="button" onclick="calculateDate(30);" class="btn btn-outline-light">+30분</button>
                </div>
                <div class="col-4 d-grid">
                    <button type="button" onclick="calculateDate(60);" class="btn btn-outline-light">+1시간</button>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-4 d-grid">
                    <button type="button" onclick="calculateDate(-10);" class="btn btn-outline-light">-10분</button>
                </div>
                <div class="col-4 d-grid">
                    <button type="button" onclick="calculateDate(-30);" class="btn btn-outline-light">-30분</button>
                </div>
                <div class="col-4 d-grid">
                    <button type="button" onclick="calculateDate(-60);" class="btn btn-outline-light">-1시간</button>
                </div>
            </div>   
        </div>
    </div>

    <div class="d-grid mb-4">
        <textarea class="form-control" aria-label="With textarea" placeholder="추가 내용" id="detail"></textarea>
    </div>

    <div class="d-grid">
        <button type="button" onclick="saveBehavior();" class="btn btn-primary btn-outline-light">저장</button>
    </div>

</div><!-- container1 -->

<div class="container">
    <div class="position-static">
        <div class="position-absolute top-0 start-0">
            <button class="btn" type="button" onclick="location.href='/'" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas" aria-controls="menuOffcanvas">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                </svg>
            </button>
        </div>
    </div>

    <style>
        #menuOffcanvas { background-color:rgb(40, 40, 40); }
    </style>
    <div class="position-static">
        <div class="position-absolute top-0 end-0">
            <button class="btn" type="button" id="menuBtn" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas" aria-controls="menuOffcanvas">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="menuOffcanvas" aria-labelledby="menuOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="menuOffcanvasLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
        </div>
    </div>
</div><!-- container2 -->

</body>

</html>
